* {
	margin: 0;
	padding: 0;
	outline: 0 !important;
}


body {
	/* font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'microsoft yahei', arial, STHeiTi, sans-serif; */
	/* font-family:"Microsoft YaHei", sans-serif !important" */
	font-family: "Microsoft YaHei", sans-serif !important;
	/* display: block; */
}

a {
	text-decoration: none;
}
i {
	font-style: normal;
}
.el-message--error{
 
	min-width: 400px;
	min-height: 50px;
  }
  .el-message--success{
 
	min-width: 400px;
	min-height: 50px;
  }
.container {
	padding: 30px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.el-table th {
	background-color: #f5f7fa !important;
}

.plugins-tips {
	padding: 20px 10px;
	margin-bottom: 20px;
	background: #eef1f6;
}

.plugins-tips a {
	color: var(--el-color-primary);
}

.el-button + .el-tooltip {
	margin-left: 10px;
}

.mgb20 {
	margin-bottom: 20px;
}
.mgb10 {
	margin-bottom: 10px;
}
.mr10 {
	margin-right: 10px;
}

.move-enter-active,
.move-leave-active {
	transition: opacity 0.1s ease;
}

.move-enter-from,
.move-leave-to {
	opacity: 0;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
	margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
	padding-bottom: 0;
}

[hidden] {
	display: none !important;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

:root {
	--header-bg-color: #242f42;
	--header-text-color: #fff;
	--active-color: var(--el-color-primary);
}
.el-avatar>img{
	object-fit: contain !important;
	background: #ffffff;
  }
  .his .el-button-group{
	display: flex !important
  ;
	  justify-content: center !important;
	  align-items: center !important;
	  width:100% !important;
	
  }
  .his .el-button-group>.el-button:first-child {
	width: 80% !important;
	/* border: none !important; */
    background: none !important;
	border: none !important;
    border-radius: 14px !important;
	display: flex;
	justify-content: flex-start;

  }
  .his .el-button-group>.el-button:last-child {
	/* border: none !important; */
  border: none !important;
    border-radius: 14px !important;
    background: none !important;

  }
  .el-dropdown .el-dropdown__caret-button.el-button:before{
	background: none !important;
  }
  /* 隐藏默认箭头 */
.el-dropdown__caret-button::after {
	display: none;
  }
  
  /* 添加自定义内容 */
  .el-dropdown__caret-button::before {
	content: '....' !important;
	margin-left: 5px !important;
	font-weight: 600 !important;
  }
  /* 隐藏默认箭头 */
.el-dropdown__caret-button::after {
	display: none !important;
  }
  .el-dropdown .el-dropdown__caret-button .el-dropdown__icon{
	display: none !important;
  }
  ul.el-upload-list.el-upload-list--text{
	display: none !important;
	}
	.el-typewriter {
		width: auto !important;
	}
	.el-bubble-content-wrapper .el-bubble-content{
		width: auto !important;
		max-width: fit-content !important;
	}
	.el-bubble-content.el-bubble-content-loading.el-bubble-content-filled {
		min-height: 50px !important;
		line-height: 50px !important;
		display: flex !important
	;
	}
	code[class*=language-], pre[class*=language-] {
		line-height: 1.2 !important;
	}
	.el-card__body{
		padding: 0px 5px !important;
	}
	/* .el-bubble-content-wrapper .el-bubble-content-filled{
		background: none !important;
	} */
	.typer-container{
		/* background: rgb(240, 242, 245) !important;
		padding: 5px 20px;
		border-radius: 5px; */
		margin-top: -30px;
		/* overflow: scroll; */


	}
	.el-bubble-content-wrapper .el-bubble-content-filled{
		padding: 0px 10px !important;
		box-sizing: border-box;
		z-index: 2000;
		/* width: 500px !important; */
	}
	/* .typer-content{
		background: rgb(240, 242, 245) !important;
		padding:0px 10px 10px 10px;
		border-radius: 5px;
	} */
	.el-sender-wrap {
		z-index: 2000;
		background: white;
	}
	.el-menu--horizontal.el-menu{
		border-bottom:none !important
	}
	.el-menu--horizontal>.el-sub-menu.is-active .el-sub-menu__title{
		border-bottom:none !important
	}
	.typer-content {
		/* width: 800px !important; */
		/* white-space: normal !important; */
		/* font-size: 16px !important; */
	}
	/* .el-select--large .el-select__prefix, .el-select--large .el-select__suffix{
		display: none !important;
	} */
	 /* .el-select--large .el-select__wrapper{
		border-bottom-right-radius: 0 !important;
		  border-top-right-radius: 0 !important;
	  } */